<div id="indexContainer" class="container-fluid d-flex justify-content-center align-items-center h-100">
    <form action="/Home/SearchResults" id="searchForm">
        <div class="form-row h-100">
            <input type="text" name="DishName" id="dishName" placeholder="Recipe Name" class="form-control-lg m-md-2" />
            <input type="text" name="Ingredients" id="ingredients" placeholder="Ingredient 1, Ingredient 2..." class="form-control-lg m-md-2" />
            <input type="hidden" name="Page" value="1" />
            <input type="submit" value="Let's Eat!" class="btn-success btn" />
        </div>
    </form>
</div>
