@{
    ViewData["Title"] = "Home Page";
}

﻿<form action="/Home/SearchResults">
    <input type="text" name="Ingredients" placeholder="ingredient 1, ingredient 2..." /><br />
    <input type="text" name="DishName" placeholder="Dish Name" /><br />
    <input type="hidden" name="Page" value="1" />
    <input type="submit" value="Search" />
</form>

